body {
    background: lightgrey;
    color: green;
}

img {
    position: relative;
    width: 200px;
    height: auto;
    float: left;
    border-radius: 50%;
    left: 5px;
    top: 30px;
}

p {
    text-align: center;
}

#about {
position: relative;
top: 20px;
left: 30px;
}

#header {
    position: fixed;
    background: white;
    width: 100%;
    top: 0px;
    left: 0px;
}

#mainbox {
    position: relative;
    background: white;
    margin: 200px;
    height: 500px;
}

#footer {   
    position: fixed;
    background: black;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

h4 {
    text-align: center;
}
